@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  @font-face {
    font-family: "Bohme";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Bohme.ttf) format("truetype");
  }

  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Pretendard-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Pretendard-Bold.ttf) format("truetype");
  }

  img,
  video {
    max-width: none;
  }

  body {
    font-family: "Bohme", "Pretendard", sans-serif;
    background: #000;
  }
}

em {
  @apply not-italic;
}

.works-list {
  @apply relative;
  padding: 147px 0;
  height: 2320px;

  li {
    @apply flex flex-col absolute;
    width: calc(300 / 1920 * 100%);

    &.in-view-from-bottom {
      .img-box {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(0);
      }
    }

    .img-box {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transform: translateY(60px);
      transition: all 0.6s;

      img {
        transition: all 0.7s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .title-box {
      @apply block mt-12;
    }

    &.bauer {
      top: 147px;
      left: calc(191 / 1920 * 100%);

      .link-resume {
        top: 245px;
        left: 217px;
      }
    }

    &.signet {
      top: 279px;
      left: calc(1326 / 1920 * 100%);

      .link-resume {
        top: 268px;
        left: 114px;
      }
    }

    &.gaudio {
      top: 547px;
      left: calc(852 / 1920 * 100%);

      .link-resume {
        top: 300px;
        left: 25px;
      }
    }

    &.hanwha {
      top: 846px;
      left: calc(378 / 1920 * 100%);

      .link-resume {
        top: 246px;
        left: 150px;
      }
    }

    &.toss {
      top: 1111px;
      left: calc(1152 / 1920 * 100%);
    }

    &.lilybtred {
      top: 1511px;
      left: calc(593 / 1920 * 100%);
    }

    &.gyeonggi {
      top: 1764px;
      left: calc(1279 / 1920 * 100%);
    }
  }
}

.link-resume {
  @apply bg-black text-white font-kr uppercase font-400 absolute;
  border: 2px solid #ffffff;
  border-radius: 2.625rem;
  padding: 4.5px 12.375px;
  font-size: 20.75px;
  min-width: max-content;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 17px 7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: rotate(-50deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 17px 7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: rotate(-50deg);
    border-width: 0 5px 13px 5px;
    border-bottom-color: #1c1c1c;
  }
}

.split-text {
  span {
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform-origin: bottom center;
    transition: transform 0.3s;
  }

  &.in-view {
    span {
      transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    }
  }
}

.intro-view {
  > div {
  }
  &.sm {
    > div {
    }
  }
}

#intro {
  .intro-view {
    @apply w-full;
    transition: all 0.5s;
    z-index: 1004;
    padding-top: 50vh;
    transition: padding-top 0.7s cubic-bezier(0.18, 0.06, 0.23, 1);

    .intro-wrap {
      width: calc(1600 / 1920 * 100%);
      transition: width 0.7s;

      .current {
        width: 0;
        animation: fullWidth 1s forwards cubic-bezier(0.43, 0.05, 0.17, 1);
      }
    }
  }
  .intro-bg {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1003;
    transition: opacity 1s;
  }

  &.sm {
    .intro-view {
      padding-top: 40px;

      .intro-wrap {
        width: 200px;
      }
    }

    .intro-bg {
      opacity: 0;
    }
  }
}

@keyframes fullWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
